@model IEnumerable<ProjectBlogCore.Models.Post.Post>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (TempData["MessagePanelPost"] != null)
{
    <div class="alert alert-success">
        @TempData["MessagePanelPost"]
    </div>
}

@if (ViewBag.Mensagem != null)
{
    <div class="alert alert-warning">
        @ViewBag.Mensagem
    </div>
}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <br />
            @foreach (var item in Model)
            {
                <div class="row">
                    <div class="col-md-7">
                        @if (!String.IsNullOrEmpty(item.ImageFile))
                        {
                            <a asp-action="Details" asp-route-id="@item.PostId">                          
                                <img src="~/@item.ImageFile" alt="@item.ImageFile" style="width:770px;height:200px;max-width: 100%" class="img-thumbnail" />
                            </a>
                        }
                    </div>
                    <div class="col-md-5">
                        <h3>@Html.DisplayFor(modelItem => item.Title)</h3>
                        <hr>
                        @*<p>@Html.Raw(item.CONTEUDO.Substring(0, 20)) </p>*@
                        @*<p>@Html.Raw(item.CONTEUDO)</p>*@
                        @*@Html.DisplayFor(modelItem => item.CONTEUDO, new { maxlength = 5 })*@
                        @*<a class="btn btn-primary" href="#">View Project</a>*@
                        <p>
                            Postato no dia @Html.DisplayFor(modelItem => item.CreateTime)
                        </p>
                        <hr />                      
                        <a asp-action="Details" asp-route-id="@item.PostId" class="btn btn-primary btn-sm">Saiba Mais</a>
                    </div>
                </div>
                <br />
                <hr />
                <br />
            }
        </div>
        <br />
        <partial name="_MenuPartial" />
    </div>
</div>