@model ProjectBlogCore.Data.ApplicationUserRole

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Panel.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ApplicationUserRole</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RoleId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RoleId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.UserId" class="btn btn-warning btn-sm">Editar</a> |
    <a asp-action="Index">Back to List</a>
</div>
